{% extends "layout.html" %}

{% block content %}
     <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Sentiment Analysis</h1>
          <p class="lead text-black">
            <h3><b>Minor Project - Arihant and Davinder</b></h3>
            <p>
          This is part of minor project of Biomedical Signal Processing under Roshan Sir. You can analyze the sentiments by entering text or uploading a file.</p></p>
          <p>
            <a href="https://github.com/jainarihant195" class="btn btn-primary my-2">Follow me on GitHub</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="static/images/1.png" alt="Card image cap" style="height: 250px;">
                <div class="card-body">
                  <p class="card-text">Sentiment analysis is an application of natural language processing (NLP) technologies that train computer software to understand text in ways similar to humans. The analysis typically goes through several stages before providing the final result.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/nlpsentiment">
                        <button type="button" class="btn btn-sm btn btn-success">Sentiment Analysis</button>
                      </a>
                    </div>
                    <small class="text-muted">Minor Project</small>
                  </div>
                </div>
              </div>
            </div>
           

{%  endblock %}
   